<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">
    <!--this is our first bean -->
<!--    this is our setter injection-->
    <bean class="org.springdemo.Student" name="student1">
        <property name="studentId">
            <value>1234</value>
        </property>
        <property name="studentName">
            <value>vipin</value>
        </property>
        <property name="studentAddress">
            <value>Bengalore</value>
        </property>
    </bean>

    <!--this is our second bean-->
    <bean class="org.springdemo.Student" name="student2">
        <property name="studentId" value="89" />


        <property name="studentName" value="ram" />

        <property name="studentAddress" value="bhopal" />

    </bean>

    <!--this is our third bean using p schema-->
    <bean class="org.springdemo.Student" name="student3" p:studentId="223" p:studentName="ram" p:studentAddress="raipur" />

   <!--Set up for the employee package -->
    <!--private String name;
    private List<String> phones;
    private Set<String> addresses;
    private Map<String, String> courses;-->
    <bean class="org.springdemo.collections.Employee" name="employee1">
        <property name="name" value="ram" />
        <property name="phones">
            <list>
                <value>9191919</value>
                <value>637864823</value>
                <value>64783466</value>
                <value>687362345</value>
            </list>
        </property>
        <property name="addresses">
            <set>
                <value>Delhi</value>
                <value>Lucknow</value>
                <value>Kanpur</value>
            </set>
        </property>
       <property name="courses">
           <map>
               <entry key="jave" value="2months"/>
               <entry key="python" value="1months"/>
               <entry key="c" value="1month"/>
           </map>
       </property>
    </bean>
</beans>